<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Malheureusement, une erreur est survenue, La page que vous demandez n'est pas trouvée!
                </div>
                <div class="error-actions">
                    <a routerLink="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Page d'accueil </a><a routerLink="/plus-informations" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Plus d'infos </a>
                </div>
            </div>
        </div>
    </div>
</div>
