<!--
<div class="col-md-5 "  style="position: absolute; width: 400px; height: 300px;background-color: rgba(193, 209, 240,0.95);">
  <div class=pull-right>
    <div class="btn-group">
      <button class="btn btn-outline-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" background-color:#eaeffa;color:#000000 ; border-radius:5px;">
        Action
      </button>
      <div class="dropdown-menu" >
        <div class="dropdown-toggle">
          <a  class="dropdown-item " (click)="onDeleteProjet(idProject,project.client);fermer1();" style=" background-color: #ffffff;padding: 1px 3px 3px 1px;
  border-radius:40px;
  position:absolute;
  top: 3px;
  margin-left: 20px;
  width: 70px;
  float:left;
  clear:left;
">
            <span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>
            Delete
          </a>
        </div>
      </div>
    </div>

    <a  (click)="fermer1()"> <i class="glyphicon glyphicon-remove"></i>
    </a>



  </div>

  <em>Name

    {{ projetAffich.name }}

  </em>
  <br>
  <em> ClientName
    {{ projetAffich.client }}</em>
  <br>
  status:

  <div class="col" >
    {{projetAffich.status}}
  </div>

  <div class="col">
    {{ projetAffich.deadline |date: 'dd/mm/yyyy' }}
  </div>


</div>

-->
