<div class="modal-header">
  <h5 class="modal-title" >Add Client</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form (ngSubmit)="onAddClient()" [formGroup]="form">
  <div class="modal-body">
    <label for="name">Name</label>
    <input class="form-control" type="text" id="name" formControlName="name" autocomplete="off">
    <label for="description">Description</label>
    <textarea class="form-control" type="text"  id="description" formControlName="description">
    </textarea>
  </div>
  <div class="modal-footer">
  <button class="btn btn-success" style="float: right" data-dismiss="modal" type="submit" (click)="onAddClient()">Add Client</button>
  </div>
</form>
